.venv
.idea
*/__pycache__/*
*.pyc
data
src/config/dev
mlruns
.vscode
filetest
logs
jars
.env
.qodo
*/helm/*
.DS_Store
dataset
docker-compose/.env
docker-compose/mongo-keyfile
docker-compose/mongo_data
docker-compose/spark_data
docker-compose/spark_apps